
.weather-dashboard{
  text-align: center;
  background-color: rgb(2, 2, 105); 
  color: white;
}

#currentDay{
    padding: 0px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    text-align: center;
    margin: 0em;    
  }

  /* for temperature data display body area */
   .col-12 .box {   
    background:whitesmoke;
    border-radius: 12px;
    width: 760px;
    margin-top: -2px;
    margin-left: -10px;
}
