/*Sets Header Style */
.weather-dashboard{
  text-align: center;
  background-color: rgb(2, 2, 105); 
  color: white;
}
/* Sets Current Forecast Box Style */
   .currentBackground {   
    background:whitesmoke;
    border-radius: 12px;
    width: 760px;
    margin-top: -2px;
    margin-left: -10px;
}